* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer {
    width: 100%;
    max-width: 1480px;
    border: 50px solid #E4EBFF;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 200px;
}

#headerSection {
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}

#featureTitle {
    color: #6941C6;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    padding: 12px;
    color: #181D27;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 32px;
}

#featureDescription {
    color: #535862;
    font-size: 18px;
    padding-bottom: 32px;
}

#contentSection {
    width: 100%;
    margin-bottom: 100px;
}

#teamInboxesSection {
    margin-bottom: 100px;
    display: inline-block;
    width: 100%;
}

#inboxesContainer {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    margin-left: 30px;
}

#inboxIcon, #answersIcon, #reportsIcon {
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 24px;
}

#inboxDetails {
    width: 100%;
    max-width: 490px;
    margin-bottom: 32px;
}

#inboxTitle {
    column-rule-color: #181D27;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
}

#inboxText {
    color: #535862;
    font-size: 18px;
}

#inboxFeatures, #answersFeatures, #reportsFeatures {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    padding-left: 16px;
}

#checkIconAutomation, #checkIconHuman, #checkIconLeads, 
#checkIconChat, #checkIconArticles, #checkIconAnswers, 
#checkIconFilter, #checkIconAutomationReports, #checkIconIntegration {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}

#automationText, #humanSupportText, #closeLeadsText, 
#liveChatText, #helpArticlesText, #findAnswersText, 
#dataFilterText, #automationReportsText, #toolIntegrationText {
    display: inline-block;
    vertical-align: middle;
    color: #535862;
    font-size: 18px;
}

#automationFeature, #humanSupportFeature, #closeLeadsFeature, 
#liveChatFeature, #helpArticlesFeature, #findAnswersFeature, 
#dataFilterFeature, #automationFeatureReports, #toolIntegrationFeature {
    margin-bottom: 20px;
    display: block;
}

#answersDetails {
    vertical-align: top;
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    max-width: 520px;
}

#answersContent {
    margin-top: 32px;
}

#answersTitle, #reportsTitle {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
}

#answersDescription, #reportsDescription {
    color: #535862;
    font-size: 18px;
    padding-bottom: 32px;
}

#instantAnswersSection {
    margin-bottom: 100px;
}

#reportsDetails {
    vertical-align: middle;
    display: inline-block;
    padding-left: 32px;
    width: 100%;
    max-width: 520px;
}
/* #reportsImageContainer{
    vertical-align: middle;
} */

#inboxImageContainer, #reportsImageContainer {
    text-align: right;
    display: inline-block;
    width: 840px;
    vertical-align: middle;
}

#answersImageContainer {
    text-align: left;
    display: inline-block;
    width: 800px;
}